@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

@*
<div class="text-center">
    @if (User.IsInRole("Admin") || User.IsInRole("Contributor"))
    {
        <a class="btn btn-primary" href="/Product/New">Adaugare articol</a>
    }

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-info" href="/Request/Index">Request-uri</a>
    }

    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-info" href="/Category/Index">Vezi categorii</a>
    }
    
</div>
*@
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<br />

<h2 class="text-center">Afisare produse</h2>

<br />


@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sorteaza
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/Product/pretcresc/@ViewBag.searched">Crescator Dupa Pret</a>
        <a class="dropdown-item" href="/Product/pretdescresc/@ViewBag.searched">Descrescator Dupa Pret</a>
        <a class="dropdown-item" href="/Product?page=1&sort=rcresc&searched=@ViewBag.searched">Crescator Dupa Rating</a>
        <a class="dropdown-item" href="/Product?page=1&sort=rdesc&searched=@ViewBag.searched">Desrescator Dupa Rating</a>
    </div>
</div>

<div class="row">
    @foreach (Magazin_Online.Models.Product product in ViewBag.Products)
    {
        <div class="col-md-3 mb-4">
            <div class="card" style="max-width: 300px">
                @Html.Partial("ProductInfo", product)
                <a class="btn btn-success" href="/Product/Show/@product.ProductId?section=descriere">Afisare produs</a>
            </div>
        </div>
    }
</div>



<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Product?page=1&sort=@ViewBag.sort&searched=@ViewBag.searched" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                   href="/Product?page=@(i)&sort=@ViewBag.sort&searched=@ViewBag.searched">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Product?page=@(ViewBag.lastPage)&sort=@ViewBag.sort&searched=@ViewBag.searched" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>




