@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<br />

<nav class="navbar navbar-light">
    <form class="form-inline w-75 align-items-center" method="get" action="/Product">
        <input type="hidden" name="page" value="1">
        <input type="hidden" name="sort" value="norm">
        <input class="form-control mr-sm-2 custom-search-input" type="search" name="searched" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 custom-search-button" type="submit">Search</button>
    </form>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle custom-sort-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sorteaza
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Product/pretcresc/@ViewBag.searched">Crescator Dupa Pret</a>
            <a class="dropdown-item" href="/Product/pretdescresc/@ViewBag.searched">Descrescator Dupa Pret</a>
            <a class="dropdown-item" href="/Product?page=1&sort=rcresc&searched=@ViewBag.searched">Crescator Dupa Rating</a>
            <a class="dropdown-item" href="/Product?page=1&sort=rdesc&searched=@ViewBag.searched">Desrescator Dupa Rating</a>
        </div>
    </div>
</nav>


<style>
    .custom-search-input {
        border-color: #28a745;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .custom-search-button {
        background-color: #28a745;
        color: #ffffff;
        border-radius: 10px;
        margin-left: 5px;
    }

    .custom-sort-button {
        border-radius: 10px;
        margin-left: 5px;
    }

    .custom-search-button:hover {
        background-color: #218838;
    }
</style>




@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}



<div class="row">
    @foreach (Magazin_Online.Models.Product product in ViewBag.Products)
    {
        <div class="col-md-3 mb-4">
            <div class="card" style="max-width: 300px">
                @Html.Partial("ProductInfo", product)
                <a class="btn btn-success" href="/Product/Show/@product.ProductId?section=descriere">Afisare produs</a>
            </div>
        </div>
    }
</div>



<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   href="/Product?page=1&sort=@ViewBag.sort&searched=@ViewBag.searched" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item">
                    <a class="page-link"
                   href="/Product?page=@(i)&sort=@ViewBag.sort&searched=@ViewBag.searched">@(i)</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link"
                   href="/Product?page=@(ViewBag.lastPage)&sort=@ViewBag.sort&searched=@ViewBag.searched" aria-
                   label="Next">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>




