@{
    ViewData["Title"] = "Category Index";
}

<div class="text-center">
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-success" href="/Category/New">Adauga categorie</a>
    }
</div>

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-success" href="/Category/Edit/@category.CategoryId">Editeaza</a>
                    <form method="post" action="/Category/Delete/@category.CategoryId">
                        <button class="btn btn-danger" type="submit">Sterge</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
