@{
    ViewData["Title"] = "Lista de Produse";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nume Produs</th>
            <th>Pret</th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produs in ViewBag.Requests)
        {
            <tr>
                <td>
                    @if (produs.Photo != null && produs.Photo.Length > 0)
                    {
                        <img src="data:image/png;base64,@Convert.ToBase64String(produs.Photo)" alt="Imagine produs" width="75" height="50" />
                    }
                </td>

                <td>@produs.Title</td>
                <td>@produs.Description</td>

                <td>
                    <a class="btn btn-success" href="/Product/Accept/@produs.ProductId">Accepta articol</a>
                    <form method="post" action="/Product/Delete/@produs.ProductId">
                        <button class="btn btn-danger" type="submit">Sterge articol</button>
                    </form>
                </td>
           
            </tr>
        }
    </tbody>
</table>
