@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="custom-btn">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
        </li>

    }
    else
    {
        <li class="custom-btn">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="custom-btn">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }


<style>

    .remove-style{
        text-decoration: none;
        border: none;
        background-color: white;
    }

    .remove-style:hover {
        background-color: #ddd;
    }

    .custom-btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: white;
        color: darkgreen;
    }

    .custom-btn:hover {
        background-color: #ddd;
    }
</style>