@model Magazin_Online.Models.Product


<div class="card-body">

    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

    <div class="card-text">@Model.Description</div>

    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" alt="Product Photo" style="max-width: 200px; max-height: 200px;" />

    <div class="d-flex justify-content-between flex-row mt-5">

        <div><i class="bi bi-person"></i> @Model.Price Lei</div>

    </div>

</div>