@model Magazin_Online.Models.Product


<div class="card-body">

    <h5 class="card-title alert-success py-3 px-3 rounded-3">@Model.Title</h5>

    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" alt="Product Photo" style="max-width: 150px; max-height: 150px;" />

    <div class="d-flex justify-content-between flex-row mt-3">
        <div><i class="bi bi-person"></i> @Model.Price Lei</div>
    </div>

    <div class="rating">
        @{
       @if(Model.rating==null){
                Model.rating = 0;
            }
       int numStars = (int)Model.rating;
            

        for (int i = 0; i < numStars; i++)
        {
                <span class="fa fa-star checked"></span>
        }

        
        for (int i = numStars; i < 5; i++)
        {
                <span class="fa fa-star"></span>
        }
        }
        <p>@Model.rating</p>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .checked {
            color: orange;
        }
    </style>

</div>
