@model Magazin_Online.Models.Review


<div class="card-body">

    <div class="card-text px-3 py-3" style="background-color: #dddddd; color: #000000; font-size: 16px;">@Model.Description</div>

    <div class="rating">
        @{

            int numStars = (int)Model.Rating;


            for (int i = 0; i < numStars; i++)
            {
                <span class="fa fa-star checked"></span>
            }


            for (int i = numStars; i < 5; i++)
            {
                <span class="fa fa-star"></span>
            }
        }

    </div>

    <h5 class="card-title py-1 rounded-3" style="color: #000000; font-size: 14px;">@Model.User</h5>

    <div>
        @if (ViewBag.currentid == Model.UserId || ViewBag.role)
        {
            <div class="d-flex align-items-center">
                <form method="post" asp-controller="Review" asp-action="Delete" asp-route-id="@Model.ReviewId">
                    <button type="submit" class="btn btn-danger">Stergere</button>
                </form>

                <form action="/Review/Edit/@Model.ReviewId" class="ms-2">
                    <button class="btn btn-success alert-success" type="submit">Edit</button>
                </form>
            </div>
        }

        
    </div>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .checked {
            color: orange;
        }
    </style>

</div>
